<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur" data-scroll="false">
  <div class="container-fluid py-1 px-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
        <li class="breadcrumb-item text-sm"><a class="opacity-5 text-white" href="javascript:;">Pages</a></li>
        <li class="breadcrumb-item text-sm text-white active" aria-current="page">Dashboard</li>
      </ol>
      <h6 class="font-weight-bolder text-white mb-0">Dashboard</h6>
    </nav>
    <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">






      <ul class="navbar-nav  justify-content-end" style=" margin-left: 800px;">
        <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
          <a href="javascript:;" class="nav-link text-white p-0" id="iconNavbarSidenav">
            <div class="sidenav-toggler-inner">
              <i class="sidenav-toggler-line bg-white"></i>
              <i class="sidenav-toggler-line bg-white"></i>
              <i class="sidenav-toggler-line bg-white"></i>
            </div>
          </a>
        </li>
        <li class="nav-item px-3 d-flex align-items-center">
          <a href="javascript:;" class="nav-link text-white p-0">
            <!-- <i class="fa fa-cog fixed-plugin-button-nav cursor-pointer"></i> -->
            <i data-bs-toggle="modal" data-bs-target="#exampleModal114" class="fa-solid fa-envelope"></i>
          </a>
          <div class="modal fade" id="exampleModal114" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content" style="width: 680px;">
                    <div class="modal-header" style="background-color:#8F95E6;">
                        <h1 class="modal-title fs-5 text-white" id="exampleModalLabel">Send Email</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <div class="container text-center">
                        <div class="row">
                          <div class="col-8">
                      <div class="mt-2">
                        <label for="nom_dagent" class="form-label"><i class="ni ni-building"></i> Agent Name</label>
                        <select class="form-control" id="nom_dagent" name="nom_dagent" [(ngModel)]="emaildata.subject" >
                            <!-- Dynamically generate options for agents -->
                            <option value="" selected disabled>Select an option</option>
                            <option *ngFor="let agent of Agent" [value]="agent.nom">{{ agent.nom }} {{ agent.prenom }}</option>
                        </select>
                      </div>
                      <div class="row g-2">
                        <div class="mt-2">
                          <label for="cin" class="form-label"><i class='ni ni-ui-04'></i>Email</label>
                          <input type="text" class="form-control" id="cin" name="toEmail" [(ngModel)]="emaildata.toEmail">
                      </div>
                      </div>
                        <div class="mt-2">
                            <label for="cin" class="form-label"><i class="ni ni-single-copy-04"></i> Password</label>
                            <input type="password" class="form-control" id="cin" name="cin" cols="40" rows="4"  [(ngModel)]="emaildata.body">
                        </div>
                          </div>
                          <div class="col-4">
                            <br><br><qr-code [value]="emaildata.subject" [size]="150"></qr-code></div>
                    </div>
                  </div>
                </div>
                    <div class="modal-footer">
                        <button type="button" class="btn bg-gradient-secondary btn-tooltip" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn bg-gradient-primary btn-tooltip" data-bs-dismiss="modal" (click)="SendEmail()">Save changes</button>
                    </div>
                    
                </div>
            </div>
          </div>    
        </li>
        <li class="nav-item dropdown pe-2 d-flex align-items-center">
          <a href="javascript:;" class="nav-link text-white p-0" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-bell cursor-pointer"></i>
          </a>
          <ul class="dropdown-menu  dropdown-menu-end  px-2 py-3 me-sm-n4 y" aria-labelledby="dropdownMenuButton">
            <h4><b>&nbsp;Notifications</b></h4>  
                      <li class="mb-2" *ngFor="let agent of user">
              <a class="dropdown-item border-radius-md" href="javascript:;" routerLink="/dashboard/ListAgent">
                <div class="d-flex py-1" >
                  <div class="my-auto">
                    <img src="../assets/img/team-2.jpg" class="avatar avatar-sm  me-3 ">
                  </div>
                  <div class="d-flex flex-column justify-content-center" >
                    <h6 class="text-sm font-weight-normal mb-1">
                      <span class="font-weight-bold">{{agent.Nom}}</span>
                    </h6>
                    <p class="text-xs text-secondary mb-0">
                      <i class="fa fa-clock me-1"></i>
                      <!--13 minutes ago--> {{agent.DateDemande}}
                    </p>
                  </div>
                </div>
              </a>
            </li>
            <li class="mb-2">
              <a class="dropdown-item border-radius-md" href="javascript:;">
                <div class="d-flex py-1">
                  <div class="my-auto">
                    <img src="../assets/img/small-logos/logo-spotify.svg" class="avatar avatar-sm bg-gradient-dark  me-3 ">
                  </div>
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="text-sm font-weight-normal mb-1">
                      <span class="font-weight-bold">New album</span> by Travis Scott
                    </h6>
                    <p class="text-xs text-secondary mb-0">
                      <i class="fa fa-clock me-1"></i>
                      1 day
                    </p>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a class="dropdown-item border-radius-md" href="javascript:;">
                <div class="d-flex py-1">
                  <div class="avatar avatar-sm bg-gradient-secondary  me-3  my-auto">
                    <svg width="12px" height="12px" viewBox="0 0 43 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <title>credit-card</title>
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g transform="translate(-2169.000000, -745.000000)" fill="#FFFFFF" fill-rule="nonzero">
                          <g transform="translate(1716.000000, 291.000000)">
                            <g transform="translate(453.000000, 454.000000)">
                              <path class="color-background" d="M43,10.7482083 L43,3.58333333 C43,1.60354167 41.3964583,0 39.4166667,0 L3.58333333,0 C1.60354167,0 0,1.60354167 0,3.58333333 L0,10.7482083 L43,10.7482083 Z" opacity="0.593633743"></path>
                              <path class="color-background" d="M0,16.125 L0,32.25 C0,34.2297917 1.60354167,35.8333333 3.58333333,35.8333333 L39.4166667,35.8333333 C41.3964583,35.8333333 43,34.2297917 43,32.25 L43,16.125 L0,16.125 Z M19.7083333,26.875 L7.16666667,26.875 L7.16666667,23.2916667 L19.7083333,23.2916667 L19.7083333,26.875 Z M35.8333333,26.875 L28.6666667,26.875 L28.6666667,23.2916667 L35.8333333,23.2916667 L35.8333333,26.875 Z"></path>
                            </g>
                          </g>
                        </g>
                      </g>
                    </svg>
                  </div>
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="text-sm font-weight-normal mb-1">
                      Payment successfully completed
                    </h6>
                    <p class="text-xs text-secondary mb-0">
                      <i class="fa fa-clock me-1"></i>
                      2 days
                    </p>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header" style="background-color:rgb(235, 235, 235);">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Nouveau Agent</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <div class="mb-2">
              <label for="title" class="form-label"><i class="ni ni-image"></i> Image Agent</label>
              <!-- Add this input field for uploading images -->
              <input type="file" (change)="onFileSelected($event)" accept="image/*" class="form-control"  id="picture" name="picture"   [(ngModel)]="userData.picture">
              <!-- Rest of your HTML code --> 
              </div>
            <div class="row g-2">
              <div class="col-md">
                
                  <label for="nom" class="form-label"><i class='bx bxs-user fa-lg'></i> Nom_agent</label>
                  <input type="text" class="form-control" id="nom" name="nom" [(ngModel)]="userData.nom">
              </div>
              <div class="col-md">
                  <label for="prenom" class="form-label"><i class='bx bx-user fa-lg'></i> Prenom_agent</label>
                  <input type="text" class="form-control" id="prenom" name="prenom" [(ngModel)]="userData.prenom">
              </div>
            </div>
              <div class="mt-2">
                  <label for="cin" class="form-label"><i class='bx bxs-id-card fa-lg'></i> Cin</label>
                  <input type="text" class="form-control" id="cin" name="cin" [(ngModel)]="userData.cin">
              </div>
              <div class="mt-2">
                  <label for="email" class="form-label"><i class="ni ni-email-83"></i> Email</label>
                  <input type="email" class="form-control" id="email" name="email" [(ngModel)]="userData.email" required>
                  <div *ngIf="formErrors.email" class="text-danger">{{ formErrors.email }}</div>
              </div>
              <div class="mt-2">
                  <label for="password" class="form-label"><i class="ni ni-lock-circle-open"></i> Password</label>
                  <input type="password" class="form-control" id="password" name="password" [(ngModel)]="userData.password" required>
                  <div *ngIf="formErrors.password" class="text-danger">{{ formErrors.password }}</div>

              </div>
              <div class="mt-2">
                  <label for="tel" class="form-label"><i class="ni ni-mobile-button"></i> Telephone</label>
                  <input type="text" class="form-control" id="tel" name="telephone" [(ngModel)]="userData.telephone">
              </div>
              <!-- <div class="mb-3"> -->
                  <!-- <label for="tel" class="form-label">Image</label> -->
                  <!-- <input type="file" class="form-control" id="image" name="image" id="image" name="image" (change)="onFileSelected($event)" [(ngModel)]="userData.picture"> -->
              <!-- </div> -->
             
              <div class="mt-2">
                  <label for="adresse" class="form-label"><i class="ni ni-building"></i> Adresse</label>
                  <input type="text" class="form-control" id="adresse" name="adresse" [(ngModel)]="userData.adresse">
              </div>
              <div class="mt-2">
                  <label for="transport" class="form-label"><i class="ni ni-bus-front-12"></i> Moyen_Transport</label>
                  <input type="text" class="form-control" id="transport" name="moyen_transport" [(ngModel)]="userData.moyen_transport">
              </div>
              <div class="form-check form-switch mt-2">
                  <input class="form-check-input" type="checkbox" id="etat_active" name="etat_active" value="ok" checked="" [(ngModel)]="userData.etat_active">
                  <label class="form-check-label" for="etat_active">{{ userData.etat_active ? 'Active' : 'Inactive' }}</label>
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn bg-gradient-secondary btn-tooltip" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn bg-gradient-primary btn-tooltip" (click)="ajouter()">Save changes</button>
          </div>
      </div>
  </div>
</div>