<!--<main class="main-content position-relative border-radius-lg ">
<section class="bg-white space">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-5">
          <div class="about-card_img"><img class="w-75" src="{{user.picture || 'https://images.pexels.com/photos/20230203/pexels-photo-20230203/free-photo-of-bois-sale-retro-vintage.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'}}" alt="user image">
          </div>
        </div>
        <div class="col-xl-7">
          <div class="about-card">
            <h2 class="about-card_title">{{ user.nom }} {{ user.prenom }} </h2>
            <p class="about-card_text"><strong>Profil:</strong> {{ user.role }}</p>
            <div class="info-table">
              <div class="table-col">
                <div class="th">Num de tél</div>
                <p class="td"> {{ user.telephone }} </p>
              </div>
              <div class="table-col">
                <div class="th">Cin</div>
                <p class="td"> {{ user.cin }} </p>
              </div>
              <div class="table-col">
                <div class="th">E-mail</div>
                <p class="td">{{ user.email }}</p>
              </div>
            </div>
  
            <div class="info-table">
              <div class="table-col">
                <div class="th">Adresse</div>
                <p class="td">{{ user.adresse }}</p>
              </div>
            </div>
  
            <div class="text-center mt-2">
              <button  class="as-btn" style="margin-left: 15px;"><i class="far fa-marker"
                  style="margin-right: 10px;"></i> Modifier </button>
            </div>
  
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
-->
<app-navbar></app-navbar>

<div class="row" style="margin-left: 300px;  
width: 1080px;"
>
  <div class="col-md-8" style=" margin-top: 25px;">
  <div class="card">
  <div class="card-header pb-0">
  <div class="d-flex align-items-center">
  <p class="mb-0">Edit Profile</p>
  <button class="btn btn-primary btn-sm ms-auto">Settings</button>
  </div>
  </div>
  <div class="card-body">
  <p class="text-uppercase text-sm">User Information</p>
  <div class="row">
  <div class="col-md-6">
  <div class="form-group">
  <label for="example-text-input" class="form-control-label">Username</label>
  <input class="form-control" type="text" value="{{user.nom}}" onfocus="focused(this)" onfocusout="defocused(this)">
  </div>
  </div>
  <div class="col-md-6">
  <div class="form-group">
  <label for="example-text-input" class="form-control-label">Email address</label>
  <input class="form-control" type="email" value="{{user.email}}" onfocus="focused(this)" onfocusout="defocused(this)">
  </div>
  </div>
  <div class="col-md-6">
  <div class="form-group">
  <label for="example-text-input" class="form-control-label">First name</label>
  <input class="form-control" type="text" value="{{user.nom}}" onfocus="focused(this)" onfocusout="defocused(this)">
  </div>
  </div>
  <div class="col-md-6">
  <div class="form-group">
  <label for="example-text-input" class="form-control-label">Last name</label>
  <input class="form-control" type="text" value="{{user.prenom}}" onfocus="focused(this)" onfocusout="defocused(this)">
  </div>
  </div>
  </div>
  <hr class="horizontal dark">
  <p class="text-uppercase text-sm">Contact Information</p>
  <div class="row">
  <div class="col-md-12">
  <div class="form-group">
  <label for="example-text-input" class="form-control-label">telephone</label>
  <input class="form-control" type="text" value="{{user.telephone}}" onfocus="focused(this)" onfocusout="defocused(this)">
  </div>
  </div> 
  </div>
  
  <p class="text-uppercase text-sm">About me</p>
  <div class="row">
  <div class="col-md-12">
  <div class="form-group">
  <label for="example-text-input" class="form-control-label">cin</label>
  <input class="form-control" type="text" value="{{user.cin}}" onfocus="focused(this)" onfocusout="defocused(this)">
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  <div class="col-md-4" style=" margin-top: 25px;">
  <div class="card card-profile">
  <img src="../assets/img/bg-profile.jpg" alt="Image placeholder" class="card-img-top">
  <div class="row justify-content-center">
  <div class="col-4 col-lg-4 order-lg-2">
  <div class="mt-n4 mt-lg-n6 mb-4 mb-lg-0">
  <a href="javascript:;">
  <img src="{{user.picture || 'https://images.pexels.com/photos/20230203/pexels-photo-20230203/free-photo-of-bois-sale-retro-vintage.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'}}" class="rounded-circle img-fluid border border-2 border-white">
  </a>
  </div>
  </div>
  </div>
  <div class="card-header text-center border-0 pt-0 pt-lg-2 pb-4 pb-lg-3">
  <div class="d-flex justify-content-between">
  <a href="javascript:;" class="btn btn-sm btn-info mb-0 d-none d-lg-block">Connect</a>
  <a href="javascript:;" class="btn btn-sm btn-info mb-0 d-block d-lg-none"><i class="ni ni-collection"></i></a>
  <a href="javascript:;" class="btn btn-sm btn-dark float-right mb-0 d-none d-lg-block">Message</a>
  <a href="javascript:;" class="btn btn-sm btn-dark float-right mb-0 d-block d-lg-none"><i class="ni ni-email-83"></i></a>
  </div>
  </div>
  <div class="card-body pt-0">
  <div class="row">
  <div class="col">
  <div class="d-flex justify-content-center">
  <div class="d-grid text-center">
  <span class="text-lg font-weight-bolder">22</span>
  <span class="text-sm opacity-8">Friends</span>
  </div>
  <div class="d-grid text-center mx-4">
  <span class="text-lg font-weight-bolder">10</span>
  <span class="text-sm opacity-8">Photos</span>
  </div>
  <div class="d-grid text-center">
  <span class="text-lg font-weight-bolder">89</span>
  <span class="text-sm opacity-8">Comments</span>
  </div>
  </div>
  </div>
  </div>
  <div class="text-center mt-4">
  <h5>
  {{user.nom}} {{user.prenom}}
  </h5>
  <div class="h6 font-weight-300">
  <i class="ni location_pin mr-2"></i>{{user.role}}
  </div>
  <div class="h6 mt-4">
  <i class="ni business_briefcase-24 mr-2"></i>{{user.email}}
  </div>
  <div>
  <i class="ni education_hat mr-2"></i>{{user.telephone}}
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>